body{
    background-color: rgb(252, 182, 217);
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0; 
    background: url('Flower.jpg') repeat;
    background-size: 200px 200px;
    animation: diagonalScroll 5s linear infinite;
}
p{
    font-family: "Meow Script", cursive;
    font-size: 18px;
    opacity: 0;
    animation-name: appear;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
h1{
    align-self: center; 
    position: absolute;
    top: 10px; 
    text-shadow: 0 0 10px pink;
    font-family: "Meow Script", cursive;
    font-weight: 400;
    font-size: 50px;
    font-style: normal;
    z-index: 0;
}
#opening{
    display:none
}
#opening:checked + label #heart_icon {
    animation: spread 3s forwards; 
}
#opening:checked + label #heart_icon {
    animation-name: spread; 
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
#opening:checked ~ h1 {
    opacity: 0;
    display:none;
    transition: opacity 1s ease-in-out; /* Smooth disappearance */
}

#heart_icon{
    transform: scale(90%);
    align-self: center;
    animation-name: shake;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}
.border{
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center;
    width: 70vh;
    height: 70vh;
    background-color: rgb(248, 208, 233);
    border: 10px solid #ade0ff;      /* Reduce border thickness */
    padding: 30px;                   /* Add padding for inner space */
    overflow-y: auto;                /* Enable vertical scrolling */
    position: relative;
}
.duck{
    display: block;
    margin: 20px auto 0 auto; /* space above and center horizontally */
    width: 5px; /* adjust as needed */
    height: auto;
    position: static; /* remove relative positioning */
    animation: float 3s ease-in-out infinite;
}
@keyframes shake{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(10deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
@keyframes spread{
    0%{
        transform: scale(0);
    } 
    20%{
        transform: scale(250);
    }
    40%{
        transform: scale(500);      
    }
    60%{
        transform: scale(750);
    }
    80%{
        opacity:0.5;
    }
    100%{
        opacity: 0;
        display: none;
    }
}
@keyframes appear{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
@keyframes diagonalScroll {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 200px 200px;
    }
}